body {
    background-color: #e7e7e7;

}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.navbar {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar li a:hover {
    background-color: #444;
}

header {
    margin-bottom: 3px;
    background-color: green;
    width: 100vw;
    height: 10vh;
}
main{
    width: 50vw;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
}